h1 Welcome to Online Accommodation Portal
    div please check booking details
        ul
            li Check in date : #{checkInDate}
            li Check in Out : #{checkOutDate}
            li Amount : #{price}